@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --bg-color: #f9f9f9;
  --fg-color: #050505;
  --bg-accent: #e9e9e9;
  --purple: hsl(273, 82%, 60%);
  --purple-dimmed: hsl(273, 82%, 60%, 0.7);
  --white: #f6f6f6;
  --black: #050505;
  --gray: #838383;
}
/* Dark mode */
body.dark {
  --bg-color: #050505;
  --fg-color: #e0e0e0;
  --bg-accent: #2f2f2f;
}

.theme--sans-serif {
  --font-family: "Inter", sans-serif;
}
.theme--serif {
  --font-family: "Lora", serif;
}
.theme--mono {
  --font-family: "Inconsolata", monospace;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  transition: 0.3s ease-in;
  transition-property: background-color, color;
  font-family: var(--font-family);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
